fastapi
uvicorn
pymongo
python-dotenv
azure-identity
azure-mgmt-resource
azure-mgmt-costmanagement
azure-mgmt-storage
azure-mgmt-monitor
google-cloud-asset
google-cloud-asset>=1.19.0
google-cloud-monitoring>=2.15.0
google-cloud-storage>=2.10.0
google-auth>=2.23.0
google-api-python-client>=2.100.0
google.cloud.monitoring_v3 

